<<<<<<< HEAD
@charset "utf-8";

body {
	position: relative;
}

img {
	height: 15vh;
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wrapper_main {
	overflow-x: hidden;
	background-image: url(../img/achilles.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

.container-fluid {
	padding: 0;
	position: relative;
}

/* Audio */
.audio {
	height: 50vh;
	width: 100%;
	background-color: blue;
	padding: 0;
	margin: 0;
	opacity: 0.8;
}
.audio h1 {
    font-size: 8vh;
	margin: 0;
	color: white;
	/* Centering vertically */ 
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	/* Centering horizontally */ 
	left: 50%;
	transform: translate(-50%, -50%);


	-webkit-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;  
    -moz-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}
.audio:hover h1{
	color: black;
}

/* Filters */
.filters {
	height: 50vh;
	width: 100%;
	background-color: green;
	padding: 0;
	margin: 0;
	opacity: 0.8;/*-webkit-clip-path: inset(50% 0 0 0);
clip-path: inset(50% 0 0 0);*/
}
.filters h1 {
font-size: 8vh;
	margin: 0;
	color: white;
	/* Centering vertically */ 
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	/* Centering horizontally */ 
	left: 50%;
	transform: translate(-50%, -50%);

-webkit-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;  
    -moz-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}
.filters:hover h1{
	color: black;}


/* Audio Webpage */

.logo {
height: 10vh;
top: 50vh;
}

.bgimage {
	position: relative;
	background-color: black;
	height: 20vh;
}

.bgimage h1 {
	margin: 0;
	font-size: 4vh;
	color: white;
	text-align: center;

	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; 
}

li {
    position: relative;
    display: inline-block;
    float: left;
}


li:nth-child(1) {
  background: blue;
  width: 47%;
  opacity: 0.8;
}
li:nth-child(2) {
	width: 6%;
}
li:nth-child(3) {
  background: green;
  width: 47%;
  opacity: 0.8;
}


ul li a {
	padding: 8px;
	font-size: 30px;
	color: white;
}

ul li a:hover {
	color: yellow;
}

.nav_logo {
	height: 15vh;
	z-index: 9;
}


=======
@charset "utf-8";
body {
	position: relative;
}
.wrapper {
	overflow-x: hidden;
}
.audio {
	height: 430px;
	width: 100%;
	background-color: blue;
	padding: 0;
	margin: 0;
	opacity: 0.9;
}
.audio h1 {
	-webkit-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;  
    -moz-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}
.audio:hover h1{
	color: black;
}
.filters {
	width: 100%;
	background-color: green;
	padding: 0;
	margin: 0;
	opacity: 0.9;/*-webkit-clip-path: inset(50% 0 0 0);
clip-path: inset(50% 0 0 0);*/
}
.filters h1 {
-webkit-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;  
    -moz-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}
.filters:hover h1{
	color: black;}

.container-fluid {
	padding: 0;
	position: relative;
}
.audio {
	height: 50vh;
}
.filters {
	height: 50vh;
}

h1 {
	font-size: 8em;
	margin: 0;
	color: white;
	/* Centering vertically */ 
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	/* Centering horizontally */ 
	left: 50%;
	transform: translate(-50%, -50%);
}
#landing-logo {
	height: 100px;
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
>>>>>>> d54f27ee0b99ba3397773b24baf9cb011baa1b17
